<form class='{{cssClass}}' autocomplete='off'>
  <header class='sheet-header'>
    <img class='profile-img' src='{{item.img}}' data-edit='img' title='{{item.name}}' />
    <div class='header-fields'>
      <h1 class='charname'><input name='name' type='text' value='{{item.name}}' placeholder='Name' /></h1>
      <div class='grid grid-4col'>
        <div class='resource'>
          <label class='resource-label'>Skill level</label>
          <input type='number' name='system.skill' value='{{system.skill}}' data-dtype='Number' />
        </div>
        <div class='resource'>
          <label class='resource-label'>Weapon level</label>
          <input type='number' name='system.weapon' value='{{system.weapon}}' data-dtype='Number' />
        </div>
        <div class='resource'>
          <label class='resource-label'>Damage</label>
          <input type='number' name='system.damage' value='{{system.damage}}' data-dtype='Number' />
        </div>
        <div class='resource'>
          <label class='resource-label'>Additional Properties</label>
          <input type='text' name='system.properties' value='{{system.properties}}' />
        </div>
      </div>
    </div>
  </header>
</form>