<form class="flexcol" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        {{!-- Header stuff goes here --}}
        <div class="header-fields">
            <div class="charname flexcol">
                <input style="width:100%;font-weight:bold;" name="name" type="text" value="{{actor.name}}"
                    placeholder="Name" />
                <div class="flex-group-center">
                    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100"
                        width="100" />
                    <h4 class="charname flexcol">
                        <div class="flex-group-center">
                            A
                            <input style="width:33%" name="system.basic.foundation.value" placeholder="FOUNDATION"
                                value="{{system.basic.foundation.value}}" type="text" />
                            <input style="width:33%" name="system.basic.heart.value" placeholder="HEART"
                                value="{{system.basic.heart.value}}" type="text" />
                            <select style="width:33%;text-align:center" name="system.basic.order.value">
                                {{#select system.basic.order.value}}
                                <option value="vance">Vance</option>
                                <option value="maker">Maker</option>
                                <option value="weaver">Weaver</option>
                                <option value="goetic">Goetic</option>
                                <option value="apostate">Apostate</option>
                                {{/select}}
                            </select>
                        </div>
                        <div class="flex-group-center" style="margin-left: -23px;">
                            WHO
                            <input style="width: 80%;" name="system.basic.forte.value" placeholder="FORTE"
                                value="{{system.basic.forte.value}}" type="text" />
                        </div>
                        <div class="flex-group-center">
                            <label>Degree <input style="width: 40px;" name="system.stats.degree.value"
                                    value="{{system.stats.degree.value}}" type="number" /></label>
                            <label>Acumen <input style="width: 40px;" name="system.stats.acumen.value"
                                    value="{{system.stats.acumen.value}}" type="number" /></label>
                            <label>Joy <input style="width: 40px;" name="system.stats.joy" value="{{system.stats.joy}}"
                                    type="number" /></label>
                            <label>Despair <input style="width: 40px;" name="system.stats.despair" value="{{system.stats.despair}}"
                                    type="number" /></label>
                            <label>Hidden Knowledge <input style="width: 40px;"
                                    name="system.stats.hiddenKnowledge.value"
                                    value="{{system.stats.hiddenKnowledge.value}}" type="number" /></label>
                        </div>

                    </h4>
                </div>
            </div>


            <div class="flexcol">
                {{!-- Does that even need to be on the sheet? --}}
                <!-- <h4 class="flex-group-center"><div class="flex-group-center" style="flex:1;">Certes <input style="width: 40px;" name="system.stats.certes.value" value="{{system.stats.certes.value}}" type="number" /></div><div class="flex-group-center" style="flex:1;">Qualia <input style="width: 40px;" name="system.stats.qualia.value" value="{{system.stats.qualia.value}}" type="number" /></div></h4> -->
                <div class="resources grid grid-4col">
                    {{#each system.pools as |pool key|}}
                    <div class="resource flex-group-center flexcol {{key}}">
                        <label class="resource-label rollable" data-type="pool" data-pool="{{key}}">{{key}}</label>
                        <div class="resource-content flexrow flex-center flex-between">
                            <input class="value" type="number" name="system.pools.{{key}}.value" value="{{pool.value}}"
                                data-dtype="Number" />
                            <span class="resouce-content"> / </span>
                            <input class="max" type="number" name="system.pools.{{key}}.max" value="{{pool.max}}"
                                data-dtype="Number" />
                        </div>
                        <div class="flex-group-center">
                            <i class="add fa-item fa-regular fa-plus-square" style="cursor: pointer;"></i>
                            <i class="substract fa-item fa-regular fa-minus-square" style="cursor: pointer;"></i>
                            <i class="reset fas fa-sync-alt" style="cursor: pointer;"></i>
                        </div>
                        <input class="max" type="number" name="system.pools.{{key}}.vex" value="{{pool.vex}}"
                            data-dtype="Number" placeholder="vex" />
                    </div>
                    {{/each}}
                </div>
            </div>

            <div class="abilities grid grid-3col">{{!-- abilities here --}}</div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary" style="margin-top: -30px;">
        <a class="item" data-tab="description">Notes</a>
        <a class="item" data-tab="combat">Combat</a>
        <a class="item" data-tab="items">Items</a>
        <a class="item" data-tab="skills">Skills</a>
        <a class="item" data-tab="abilities">Abilities</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <section class="tab description" data-group="primary" data-tab="description">
            {{editor system.notes target="system.notes" button=true engine='prosemirror' owner=owner
            editable=true}}
        </section>
        <section class="tab items" data-group="primary" data-tab="items">
            <h3>Equipment</h3>
            <div class="items flexcol">
                <ol class='items-list'>
                    <li class='item flexrow items-header'>
                        <div class='item-name'>Name</div>
                        <div class="item-resource">Level</div>
                        <div class="item-resource">Quantity</div>
                        <div class='item-controls'>
                            <a class='item-control item-create' data-type='item'>
                                <i class='fas fa-plus'></i>
                            </a>
                        </div>
                    </li>
                    {{#each gear as |item id|}}
                    <li class='item flexrow' data-item-id='{{item._id}}'>
                        <div class='item-name rollable' data-type='item' data-item-id='{{item._id}}'
                            data-level="{{item.system.level}}">
                            <div class='item-image'>
                                <img src='{{item.img}}' title='{{item.name}}' width='24' height='24' />
                            </div>
                            <h4>{{item.name}}</h4>
                        </div>
                        <div class="item-name">
                            <h4>{{item.system.level}}</h4>
                        </div>
                        <div class="item-name item-quantity">
                            <i class="fa-item quantity-substract fa-regular fa-minus-square"></i>
                            <h4> {{item.system.quantity.value}} </h4>
                            <i class="fa-item quantity-add fa-regular fa-plus-square"></i>
                        </div>
                        <div class='item-controls'>
                            <a class='item-control item-edit' title="Edit item">
                                <i class='fas fa-edit'></i>
                            </a>
                            <a class='item-control item-delete' title="Delete item permanently">
                                <i class='fas fa-trash'></i>
                            </a>
                            <a class="item-control item-chat" title="Post item to chat">
                                <i class="fas fa-comment-alt"></i>
                            </a>
                            <a class="item-control rollable" title="Roll item" data-item-id='{{item._id}}'
                                data-type="item" data-level="{{item.system.level}}">
                                <i class="fas fa-dice"></i>
                            </a>
                        </div>
                    </li>
                    {{/each}}
                </ol>
            </div>
            <h3>Ephemera | Limit: <input type="number" name="system.equipment.ephemeraLimit"
                    value="{{system.equipment.ephemeraLimit}}" style="width: 20px;"></h3>
            <div class="items flexcol">
                <ol class='items-list'>
                    <li class='item flexrow items-header'>
                        <div class='item-name'>Name</div>
                        <div class="item-resource">Level</div>
                        <div class='item-controls'>
                            <a class='item-control item-create' data-type='ephemera'>
                                <i class='fas fa-plus'></i>
                            </a>
                        </div>
                    </li>
                    {{#each ephemera as |item id|}}
                    <li class='item flexrow' data-item-id='{{item._id}}'>
                        <div class='item-name rollable' data-type='ephemera' data-item-id='{{item._id}}'
                            data-level="{{item.system.level}}">
                            <div class='item-image'>
                                <img src='{{item.img}}' title='{{item.name}}' width='24' height='24' />
                            </div>
                            <h4>{{item.name}}</h4>
                        </div>
                        <div class="item-name">
                            <h4>{{item.system.level}}</h4>
                        </div>
                        <div class='item-controls'>
                            <a class='item-control item-edit' title="Edit item">
                                <i class='fas fa-edit'></i>
                            </a>
                            <a class='item-control item-delete' title="Delete item permanently">
                                <i class='fas fa-trash'></i>
                            </a>
                            <a class="item-control item-chat" title="Post item to chat">
                                <i class="fas fa-comment-alt"></i>
                            </a>
                            <a class="item-control rollable" title="Roll item" data-item-id='{{item._id}}'
                                data-type="ephemera" data-level="{{item.system.level}}">
                                <i class="fas fa-dice"></i>
                            </a>
                        </div>
                    </li>
                    {{/each}}
                </ol>
            </div>
            <h3>Objects of power</h3>
            <div class="items flexcol">
                <ol class='items-list'>
                    <li class='item flexrow items-header'>
                        <div class='item-name'>Name</div>
                        <div class="item-resource">Level</div>
                        <div class="item-resource">Depletion</div>
                        <div class='item-controls'>
                            <a class='item-control item-create' data-type='objectOfPower'>
                                <i class='fas fa-plus'></i>
                            </a>
                        </div>
                    </li>
                    {{#each objectsOfPower as |item id|}}
                    <li class='item flexrow' data-item-id='{{item._id}}'>
                        <div class='item-name rollable' data-type='objectOfPower' data-item-id='{{item._id}}'
                            data-level="{{item.system.level}}">
                            <div class='item-image'>
                                <img src='{{item.img}}' title='{{item.name}}' width='24' height='24' />
                            </div>
                            <h4>{{item.name}}</h4>
                        </div>
                        <div class="item-name">
                            <h4>{{item.system.level}}</h4>
                        </div>
                        <div class="item-name">
                            <a class="rollable item-control" data-item-id='{{item._id}}' data-depletion="true"
                                title="Roll for depletion">
                                <h4>{{item.system.depletion}}</h4>
                            </a>
                        </div>
                        <div class='item-controls'>
                            <a class='item-control item-edit' title="Edit item">
                                <i class='fas fa-edit'></i>
                            </a>
                            <a class='item-control item-delete' title="Delete item permanently">
                                <i class='fas fa-trash'></i>
                            </a>
                            <a class="item-control item-chat" title="Post item to chat">
                                <i class="fas fa-comment-alt"></i>
                            </a>
                            <a class="item-control rollable" title="Roll item" data-item-id='{{item._id}}'
                                data-type="objectOfPower" data-level="{{item.system.level}}">
                                <i class="fas fa-dice"></i>
                            </a>
                        </div>
                    </li>
                    {{/each}}
                </ol>
            </div>
        </section>
        <section class="tab combat" data-group="primary" data-tab="combat">
            <div class="flexcol">
                <h3>Damage & Recovery</h3>
                <div class="flex-group-center flex-between">
                    <div class="flexcolcenter">
                        <h4>Injuries</h4>
                        <input type="number" min="0" max="3" name="system.combat.damageTrack.injuries"
                            value="{{system.combat.damageTrack.injuries}}">
                    </div>
                    <div class="flexcolcenter">
                        <h4>Wounds</h4>
                        <input type="number" name="system.combat.damageTrack.wounds" min="0" max="3"
                            value="{{system.combat.damageTrack.wounds}}">
                    </div>
                    <div class="flexcolcenter">
                        <h4>Anguish</h4>
                        <input type="number" name="system.combat.damageTrack.anguish" min="0" max="3"
                            value="{{system.combat.damageTrack.anguish}}">
                    </div>
                    <div class="flexcolcenter">
                        <h4>1 Action</h4>
                        <input class="recovery" type="checkbox" name="system.combat.recoveries.oneAction1" {{#if
                            system.combat.recoveries.oneAction1}}checked{{/if}}>
                    </div>
                    <div class="flexcolcenter">
                        <h4>1 Action</h4>
                        <input class="recovery" type="checkbox" name="system.combat.recoveries.oneAction2" {{#if
                            system.combat.recoveries.oneAction2}}checked{{/if}}>
                    </div>
                    <div class="flexcolcenter">
                        <h4>10 Minutes</h4>
                        <input class="recovery" type="checkbox" name="system.combat.recoveries.tenMinutes" {{#if
                            system.combat.recoveries.tenMinutes}}checked{{/if}}>
                    </div>
                    <div class="flexcolcenter">
                        <h4>1 Hour</h4>
                        <input class="recovery" type="checkbox" name="system.combat.recoveries.oneHour" {{#if
                            system.combat.recoveries.oneHour}}checked{{/if}}>
                    </div>
                    <a class="sleep" title="Restore all pools and recovery rolls">
                        <i class="fa-solid fa-bed"></i>
                    </a>
                </div>
                <h3>Attacks</h3>
                <div class="items flexcol">
                    <ol class='items-list'>
                        <li class='item flexrow items-header'>
                            <div class='item-name'>Name</div>
                            <div class="item-resource">Total venture</div>
                            <div class="item-resource">Damage</div>
                            <div class='item-controls'>
                                <a class='item-control item-create' data-type='attack'>
                                    <i class='fas fa-plus'></i>
                                </a>
                            </div>
                        </li>
                        {{#each attacks as |item id|}}
                        <li class='item flexrow' data-item-id='{{item._id}}'>
                            <div class='item-name rollable' data-type='attack' data-item-id='{{item._id}}'>
                                <div class='item-image'>
                                    <img src='{{item.img}}' title='{{item.name}}' width='24' height='24' />
                                </div>
                                <h4>{{item.name}} {{#if item.system.properties}}({{item.system.properties}}){{/if}}</h4>
                            </div>
                            <div class="item-name">
                                <h4>{{sum item.system.skill item.system.weapon}}</h4>
                            </div>
                            <div class="item-name">
                                <h4>{{item.system.damage}}</h4>
                            </div>
                            <div class='item-controls'>
                                <a class='item-control item-edit' title="Edit item">
                                    <i class='fas fa-edit'></i>
                                </a>
                                <a class='item-control item-delete' title="Delete item permanently">
                                    <i class='fas fa-trash'></i>
                                </a>
                                <a class="item-control rollable" title="Roll item" data-item-id='{{item._id}}'
                                    data-type="attack">
                                    <i class="fas fa-dice"></i>
                                </a>
                            </div>
                        </li>
                        {{/each}}
                    </ol>
                </div>
                <h3>Armor</h3>
                <div class="items flexcol">
                    <ol class='items-list'>
                        <li class='item flexrow items-header'>
                            <div class='item-name'>Name</div>
                            <div class="item-resource">Value(Total: {{totalArmor}})</div>
                            <div class='item-controls'>
                                <a class='item-control item-create' data-type='armor'>
                                    <i class='fas fa-plus'></i>
                                </a>
                            </div>
                        </li>
                        {{#each armors as |item id|}}
                        <li class='item flexrow' data-item-id='{{item._id}}'>
                            <div class='item-name' data-type='armor' data-item-id='{{item._id}}'>
                                <div class='item-image'>
                                    <img src='{{item.img}}' title='{{item.name}}' width='24' height='24' />
                                </div>
                                <h4>{{item.name}} {{#if item.system.properties}}({{item.system.properties}}){{/if}}</h4>
                            </div>
                            <div class="item-name">
                                <h4>{{item.system.value}}</h4>
                            </div>
                            <div class='item-controls'>
                                <a class='item-control item-edit' title="Edit item">
                                    <i class='fas fa-edit'></i>
                                </a>
                                <a class='item-control item-delete' title="Delete item permanently">
                                    <i class='fas fa-trash'></i>
                                </a>
                            </div>
                        </li>
                        {{/each}}
                    </ol>
                </div>
            </div>

        </section>
        <section class="tab skills" data-group="primary" data-tab="skills">
            <div class="items flexcol">
                <ol class='items-list'>
                    <li class='item flexrow items-header'>
                        <div class='item-name'>Name</div>
                        <div class="item-resource">Level</div>
                        <div class='item-controls'>
                            <a class='item-control item-create' data-type='skill'>
                                <i class='fas fa-plus'></i>
                            </a>
                        </div>
                    </li>
                    <h4 style="width: 100%">-- Action Skills --</h4>
                    {{#each skills.[0] as |item id|}}
                    <li class='item flexrow' data-item-id='{{item._id}}'>
                        <div class='item-name rollable' data-type='skill' data-item-id='{{item._id}}'
                            data-level="{{item.system.level}}">
                            <div class='item-image'>
                                <img src='{{item.img}}' title='{{item.name}}' width='24' height='24' />
                            </div>
                            <h4>{{item.name}}</h4>
                        </div>
                        <div class="item-name">
                            <h4>{{item.system.level}}</h4>
                        </div>
                        <div class='item-controls'>
                            <a class='item-control item-edit' title="Edit item">
                                <i class='fas fa-edit'></i>
                            </a>
                            <a class='item-control item-delete' title="Delete item permanently">
                                <i class='fas fa-trash'></i>
                            </a>
                            <a class="item-control item-chat" title="Post item to chat">
                                <i class="fas fa-comment-alt"></i>
                            </a>
                            <a class="item-control rollable" title="Roll item" data-item-id='{{item._id}}'
                                data-type="skill" data-level="{{item.system.level}}">
                                <i class="fas fa-dice"></i>
                            </a>
                        </div>
                    </li>
                    {{/each}}
                    <h4 style="width: 100%">-- Narrative Skills --</h4>
                    {{#each skills.[1] as |item id|}}
                    <li class='item flexrow' data-item-id='{{item._id}}'>
                        <div class='item-name rollable' data-type='skill' data-item-id='{{item._id}}'
                            data-level="{{item.system.level}}">
                            <div class='item-image'>
                                <img src='{{item.img}}' title='{{item.name}}' width='24' height='24' />
                            </div>
                            <h4>{{item.name}}</h4>
                        </div>
                        <div class="item-name">
                            <h4>{{item.system.level}}</h4>
                        </div>
                        <div class='item-controls'>
                            <a class='item-control item-edit' title="Edit item">
                                <i class='fas fa-edit'></i>
                            </a>
                            <a class='item-control item-delete' title="Delete item permanently">
                                <i class='fas fa-trash'></i>
                            </a>
                            <a class="item-control item-chat" title="Post item to chat">
                                <i class="fas fa-comment-alt"></i>
                            </a>
                            <a class="item-control rollable" title="Roll item" data-item-id='{{item._id}}'
                                data-type="skill" data-level="{{item.system.level}}">
                                <i class="fas fa-dice"></i>
                            </a>
                        </div>
                    </li>
                    {{/each}}
                    <h4 style="width: 100%">-- Development Skills --</h4>
                    {{#each skills.[2] as |item id|}}
                    <li class='item flexrow' data-item-id='{{item._id}}'>
                        <div class='item-name rollable' data-type='skill' data-item-id='{{item._id}}'
                            data-level="{{item.system.level}}">
                            <div class='item-image'>
                                <img src='{{item.img}}' title='{{item.name}}' width='24' height='24' />
                            </div>
                            <h4>{{item.name}}</h4>
                        </div>
                        <div class="item-name">
                            <h4>{{item.system.level}}</h4>
                        </div>
                        <div class='item-controls'>
                            <a class='item-control item-edit' title="Edit item">
                                <i class='fas fa-edit'></i>
                            </a>
                            <a class='item-control item-delete' title="Delete item permanently">
                                <i class='fas fa-trash'></i>
                            </a>
                            <a class="item-control item-chat" title="Post item to chat">
                                <i class="fas fa-comment-alt"></i>
                            </a>
                            <a class="item-control rollable" title="Roll item" data-item-id='{{item._id}}'
                                data-type="skill" data-level="{{item.system.level}}">
                                <i class="fas fa-dice"></i>
                            </a>
                        </div>
                    </li>
                    {{/each}}
                </ol>
            </div>
        </section>
        <section class="tab items" data-group="primary" data-tab="abilities">
            <div class="items flexcol">
                <ol class='items-list'>
                    <li class='item flexrow items-header'>
                        <div class='item-name'>Name</div>
                        <div class="item-resource">Level</div>
                        <div class='item-controls'>
                            <a class='item-control item-create' data-type='ability'>
                                <i class='fas fa-plus'></i>
                            </a>
                        </div>
                    </li>
                    {{#each abilities as |item id|}}
                    <li class='item flexrow' data-item-id='{{item._id}}'>
                        <div class='item-name rollable' data-type='ability' data-item-id='{{item._id}}'
                            data-level="{{item.system.level}}">
                            <div class='item-image'>
                                <img src='{{item.img}}' title='{{item.name}}' width='24' height='24' />
                            </div>
                            <h4>{{item.name}}</h4>
                        </div>
                        <div class="item-name">
                            <h4>{{item.system.level}}</h4>
                        </div>
                        <div class='item-controls'>
                            <a class='item-control item-edit' title="Edit item">
                                <i class='fas fa-edit'></i>
                            </a>
                            <a class='item-control item-delete' title="Delete item permanently">
                                <i class='fas fa-trash'></i>
                            </a>
                            <a class="item-control item-chat" title="Post item to chat">
                                <i class="fas fa-comment-alt"></i>
                            </a>
                            <a class="item-control rollable" title="Roll item" data-item-id='{{item._id}}'
                                data-type="ability" data-level="{{item.system.level}}">
                                <i class="fas fa-dice"></i>
                            </a>
                        </div>
                    </li>
                    {{/each}}
                </ol>
            </div>
        </section>
    </section>

</form>